/* 通用div */
.navTit{
    font-size:20px;
    color:#000;
    text-align:center;
    font-weight:bold;
    margin-top:50px;
}
.twoTit{
    font-size:16px;
    font-weight:bold;
    text-align:center;
    color:#000;
}
.twoTit span{
    color:#8a9199;
}
.smlTit{
    font-size:12px;
    color:#999;
    text-align:center;
}

/* index */
.conter ul{
    display:flex;
    justify-content:space-between;
    margin-top:60px;
}
.index_txt{
    font-size:16px;
    font-weight:bolder;
    margin-top:30px;
}
.imgBox{
    width:530px;
    height:320px;
}
.btnBox{
  margin-top:25px;
  margin-left:205px;  
}
/* 铁路装备垂直跨境营销平台 */

.case ul li{
    float:left;
}
.case ul li:nth-child(2){
    margin:0 10px;
}
.case ul li:nth-child(5){
    margin:0 10px;
}
.case ul li p{
  height:60px;
  padding-top:15px;  
}

/* 工业互联网+定制解决方案 */
.interWap ul li{
    float:left;
    width:270px;
}
.listName{
    color:#000;
}
.listConter span{
    color:#999;
    font-size:14px;
}

/* 关于我们 */
.aboutTxt{
    font-size:14px;
    color:#8a9199;
    line-height:25px;
}
.aboutImg ul li{
    float:left;
}
.aboutImg ul li a{
    width:350px;
    height:230px;
    display:inline-block;
}
.certificate{
    width:1080px;
    height:731px;
}
.cooper{
    background:#e7eae7;
    width:1080px;
    height:380px;
}
.form{
    width:930px;
    margin-left:75px;
}
.form input{
    float:left;
    width:450px;
    height:40px;
    border:none;
    padding-left:10px;
    outline:none;
}
.form textarea{
    width:930px;
    height:134px;
    border:none;
    resize:none;
    padding-top:10px;
    padding-left:10px;
    outline: none;
}
.sentBtn a{
    margin:0 auto;
}

/* 机械动力设备状态监控系统 */
.machLeft{
    width:660px;
    line-height:30px;
}
/* 货车列检作业客户端软件 */
.truckBox div{
    width:900px;
}

